<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Define an appender for logging to a general file (application.log) -->
        <File name="File" fileName="logs/application.log">
            <PatternLayout pattern="%d %p [%t] %c{1.} - %m%n" />
        </File>

        <!-- Define an appender for logging low reviews to a separate file (lowReviews.log) -->
        <File name="LowReviewsFile" fileName="logs/lowReviews.log">
            <PatternLayout pattern="%d %p [%t] %c{1.} - %m%n" />
        </File>

        <!-- Define an appender for logging formatted reviews to a separate file (formattedReview.log) -->
        <File name="FormattedReviewFile" fileName="logs/formattedReview.log">
            <PatternLayout pattern="%m%n" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="File" />
        </Root>

        <!-- Create a new logger named "lowReviews" for reviews with a rating code less than 3 -->
        <Logger name="lowReviews" level="error">
            <AppenderRef ref="LowReviewsFile" />
        </Logger>

        <!-- Create a new logger named "formattedReview" for displaying and logging formatted reviews -->
        <Logger name="formattedReview" level="info">
            <AppenderRef ref="FormattedReviewFile" />
        </Logger>
    </Loggers>
</Configuration>
