
.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: green;
  --mdc-protected-button-label-text-color: #fff;
}



.mat-toolbar {
  background: black;
  color: var(--mat-toolbar-container-text-color);
}


.space-buttons {
  flex: 1; /* This will push the button to the right */
  text-align: right; /* Aligns the button's text to the right */
  color: yellow;
}
.sorting-button {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sorting-options {
  display: flex;
  flex-direction: column;
  justify-content: stretch; /* Horizontally center-align items */
  margin-top: 20px;
  width: 100%; /* Stretch the container vertically */
}

.sorting-options-filter {
  display: flex;
  flex-direction: column;
  justify-content: stretch; /* Horizontally center-align items */
  
  width: 100%; /* Stretch the container vertically */
}


.review-list {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mat-elevation-z2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    border: 1px solid whitesmoke;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: whitesmoke;
  }
}


@media only screen and (max-width: 600px) {

  .mobile {
    /* Add the following styles to your existing code */
    .review-list {
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    li {
     border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    width: 265px;
    background: #f5f5f5;
    border-color: black;
    }
  
    li:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  
    h3, h4, p {
      margin: 5px;
    }
  }
  
  p {
  /* Add your styles for the paragraph tag here */
}

.sorting-options {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 0px;
  width: 20%;
  margin-left: 30px;
  margin-top: -30px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  select,
  input[type="text"] {
    padding: 8px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-bottom: 0px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

.sorting-button {
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 19px;
  color: #007bff;
  transition: all 0.3s;
  cursor: pointer;
  margin: 10px;
  background: white;
  margin-top: 19px;
  &:hover {
    background-color: black;
    color: white;
  }
}

.sorting-options {
  position: relative;
  display: table-cell;
  width: 21%;
}
}
  select {
    padding: 8px;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: center 15px;

    &:focus {
      outline: none;
      border-color: red;
      box-shadow: 0 0 5px #007bff;
    }

    &:hover {
      border-color: #007bff;
    }

    &:active {
      border-color: #f44336;
    }

    animation: fadeIn 0.5s;
  }


  .nav-item {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-right: 18px;
    margin-left: 224px;
    margin-bottom: 1px;
    margin-top: -55px;
    a {
      
      text-decoration: none;
      padding: -1px;
      border: 1px solid black;
      border-radius: 25px;
      color: white;
      transition: all 0.3s;
      background-color: #007bff;
      margin-top: -57px;
      margin-bottom: 8px;
      margin-right: 18px;
      text-align: center;
      &:hover {
        background-color: #007bff;
        color: white;
      }
    }
  }
  

.review-list {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mat-elevation-z2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #f5f5f5;

  th, td {
    border: 1px solid#f5f5f5;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: white;
  }

  .field-name {
    color: #007bff; /* or any color you prefer for the field name */
    font-weight: bold;
  }

  .field-text {
    color: black; /* or any color you prefer for the field text */
  }

  .mobile {
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 0px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    margin-right: -133px;
    margin-left: -135px;
    

    li {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 15px;
      margin: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    li:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    h3, h4, p {
      margin: 5px;
    }

    h3.field-name, h4.field-name, p.field-name {
      color: #007bff; /* or any color you prefer for the field name */
      font-weight: bold;
    }

    h3.field-text, h4.field-text, p.field-text {
      color: black; /* or any color you prefer for the field text */
    }
  }
}
  


