<mat-toolbar color="primary">
  <span>
    Product Review Application
  </span>

  <span class="space-buttons"></span>
  <button mat-raised-button routerLink="/register" color="primary">
    Register
  </button>
  
</mat-toolbar>
<p> </p>
<form (ngSubmit)="onSubmit()" [formGroup]="newReviewForm" autocomplete="on">
  <h1 class="center">Log-In</h1>
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input
      matInput
      formControlName="username"
      [(ngModel)]="username"
      required
      autocomplete="username"
    />
    <div *ngIf="newReviewForm.get('username')?.hasError('minlength') && newReviewForm.get('username')?.touched" style="color: red;">
    </div>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      [(ngModel)]="password"
      required
      autocomplete="current-password"
    />
    <div *ngIf="newReviewForm.get('password')"></div>
  </mat-form-field>

  <div *ngIf="!loginSuccess" style="color:red;">Username and Password does not match</div>
  <div *ngIf="showWrongPasswordMessage" style="color: red;"><b>{{ errorMessage }}</b></div>
  <button type="submit" mat-raised-button color="primary">Login</button>

</form>
