<p> </p>
<h2>Register</h2>

<form (ngSubmit)="onSubmit()">
    <div>
        <label for="username">First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName">
    </div>
    <div>
        <label for="username">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName">
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username">
        <p *ngIf="isUsernameExists(username)" style="color: red">Username already exists. Please choose a different username.</p>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password">
    </div>
    <button type="submit">Register</button>
</form>
