body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sorting-button {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-bottom: -30px;
}

.space-buttons{
  flex: 1 1 auto;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: green;
  --mdc-protected-button-label-text-color: #fff;
}

.mat-toolbar {
  background: black;
  color: var(--mat-toolbar-container-text-color);
}

.mat-mdc-card-header {
  display: flex;
  padding: 16px 16px 0;
  justify-content: center;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 0px;
  text-align: center; /* Add this line to center the text */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  

  div {
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }

/* Style to place image previews side by side */
.image-container {
  margin: 5px;
  text-align: center;
}


.mat-mdc-card-content:last-child {
    padding-bottom: 96px;
}
/* Style to make delete buttons appear underneath */
.delete-container {
  display: block;
  text-align: center;
  margin-top: 5px;
}



  button {
    padding: 10px 20px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #f44336;
    }

    &:active {
      background-color: #3f51b5;
    }
  }

  /* Style the container for the form sections */
.form-container {
  display: flex;
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

/* Style the Add Review section (adjust the width as needed) */
.form-content {
  flex: 1; /* Take available space within the container */
  padding: 20px; /* Add some spacing */
}

/* Style the Upload Image section (adjust the width as needed) */
.upload-image {
  flex: 1; /* Take available space within the container */
  padding: 20px; /* Add some spacing */
}

/* Optionally, adjust the styles for other elements as needed */

}
