<mat-toolbar color="primary">
    <span>
      Product Review Application
    </span>
  
    <span class="space-buttons"></span>
    <button mat-raised-button (click)="logout()" color="">
      Logout
    </button>
    
    
  </mat-toolbar>

    
  <div class="button-container">
    <button mat-raised-button routerLink="/review-list" color="primary">Review List</button>
  </div>

  <div class="button-container-1">
    <button mat-raised-button routerLink="/review-submit">Submit Review</button>
  </div>
 
  