<!-- <mat-toolbar color="primary">
  <span>
    Product Review Application
  </span>

  <span class="space-buttons"></span>
  <button mat-raised-button routerLink="/register" color="primary">
    Register
  </button>
  <button routerLink="/login" mat-raised-button color="warn">
    Logout
  </button>
  
</mat-toolbar> -->

<!-- <header>
  <div class="logo">
    <h1>Product Review Application</h1>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/login">Login</a></li> 
    </ul>
  </nav>
</header> -->
<router-outlet></router-outlet>
